.p-tabview .p-tabview-nav li {
  width: 50%;
}

.p-datatable {
  box-shadow: 0 0 1px 0px rgb(0 6 10 / 45%);
  .p-datatable-thead > tr > th {
    background: #1E3F6C;
    border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    font-size: 13px;
    &,
    & * {
      color: WHITE !important;
    }
  }
  .p-sortable-column:not(.p-highlight):hover {
    background: #1E3F6C;
    color: #ffffff;
    opacity: 0.9;
  }
  .p-sortable-column.p-highlight,
  .p-sortable-column:focus {
    background: #1E3F6C !important;
  }
  .p-sortable-column .p-sortable-column-badge {
    color: #495057 !important;
    background: #f5f5f5;
  }
}

.p-datatable-thead th:last-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}


.p-table-center {
  .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th {
    text-align: center;
  }
}
.p-datatable .p-datatable-tbody > tr > td {
  border-width: 0 0 1px 0 !important;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: 0 0 1px 0 !important;
}
.p-datatable .p-datatable-tbody > tr:hover {
  background: #ececec;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border-width: 0 !important;
}
/*---- multiselect  -------*/
.p-multiselect {
  height: 55px;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  font-size: 17px;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #1f3f6c;
  border-color: #1f3f6c;
  color: #ffffff;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.p-paginator-bottom.p-paginator.p-component {
  margin-top: 30px !important;
}

.p-paginator .p-paginator-current {
  display: none;
}
p-paginator .pi-angle-left:before {
  content: '\e91a';
}
p-paginator .pi-angle-right:before {
  content: '\e91b';
}
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 1.8rem !important;
  height: 1.8rem !important;
}


.filterDash .p-dropdown {
  height: 40px !important;
  background: #1e3f6c;
  color: #fff !important;
  box-shadow: 0px 3px 10px #1279fa26;
  border-radius: 100px;
  padding: 0 10px !important;
  margin-bottom: 20px;
  appearance: none;
  opacity: 1 !important;
  background-position: right 10px center;
  background-repeat: no-repeat;
  width: 130px !important;
  text-align: center;
  .p-dropdown-label,
  .p-dropdown-trigger {
    color: #fff;
    font-size: 14px;
  }
}
